<!DOCTYPE html>
<html xml="https://w3schools.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add New Performer to Song</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }

        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }

        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to Add to the List of Performers</h1>
</header>
<section>
    <h2>Select Artist:</h2>
    <form th:action="@{/songDetails}" th:method="POST">
        <input type="hidden" name="trackId" th:value="${trackId}" />
        <div th:each="artist : ${artists}">
            <input type="radio" name="artistId" th:id="${artist.getId()}" th:value="${artist.getId()}" />
            <label th:for="${artist.getId()}"
                   th:text="${artist.getFirstName()} + ' ' + ${artist.getLastName()}"></label>
            <br/>
        </div>
        <br/>
        <input type="submit" value="Add artist">
    </form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Track ID</b></td>
            <td th:text="${trackId}">Selected Track ID</td>
        </tr>
    </table>
</aside>
</body>
</html>
