<!DOCTYPE html>
<html xml="https://w3schools.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }

        header, section {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="${entity.getTitle()}">Song title</h1>
</header>
<section>
    <h2 th:text="${entity.getGenre()}">Genre</h2>
    <h2 th:text="${entity.getReleaseYear()}">Year</h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${entity.getPerformers()}"
            th:text="${artist.getFirstName()} + ' ' + ${artist.getLastName()}" >Jon Bon Jovi</li>
    </ul>
</section>

</body>
</html>
