<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>
    <form action="/artists/add-to-song" method="POST" sec:authorize="hasRole('ADMIN')">
        <input hidden="hidden" name="trackId" th:value="${trackId}">
        <div>
            <input type="radio" th:each="artist : ${artists}" name="artistId" th:value="${artist.getId()}" th:text="${artist.getFirstName()}+' '+${artist.getLastName()}">
        </div>
        <br/>
        <input type='submit' value='Add artist'>
    </form>

</section>
<aside>
    <table>
        <tr>
            <td><b>Track Id</b></td>
            <td th:text="${trackId}"></td>
        </tr>
    </table>
</aside>
</body>
</html>