<!DOCTYPE html>
<html xml="https://w3schools.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <!--DOPOLNITELNO BARANJE -->
    <!--    <form th:action="@{/searchSongs}" th:method="POST">-->
    <!--        <input type="text" name="search" placeholder="Search your song here">-->
    <!--        <input type="submit" value="Submit"/>-->
    <!--        <div th:each="song : ${songList}">-->
    <!--            <input type="radio" name="songRadio" th:id="${song.getTrackId()}" th:value="${song.trackId}">-->
    <!--            <label th:for="${song.getTrackId()}"-->
    <!--                   th:text="${song.getTitle()}"></label>-->
    <!--            <br/>-->
    <!--        </div>-->
    <!--    </form>-->
    <!-- ----- -->
    <h1>All songs</h1>
    <div th:text="(${hasError} ? ${error} : '')"></div>
    <form action="/songs/add-form" th:method="GET">
        <input type="submit" value="Add new song">
    </form>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Artists</th>
                <th>Album</th>
                <th>Add artist</th>
                <th>Edit Song</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td>
                    <a th:href="@{'/songs/details/'+${song.getTrackId()}}" th:text="${song.getTitle()}"></a>
                </td>
                <td th:text="${song.getGenre()}"></td>
                <td th:text="${song.getReleaseYear()}"></td>
                <td>
                    <ul th:each="artist : ${song.getPerformers()}">
                        <li th:text="${artist.getFirstName()}+' '+${artist.getLastName()}"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{'/albums/details/'+${song.getAlbum().getId()}}" th:text="${song.getAlbum().getName()}"></a>
                </td>
                <td>
                    <div class="button-container">
                        <form action="/artists/list-artists" method="GET">
                            <input hidden="hidden" th:value="${song.getTrackId()}" name="trackId">
                            <input type="submit" value="Add artist to song">
                        </form>
                    </div>
                </td>
                <td>
                    <div class="button-container">
                        <form th:action="'/songs/edit-form/' + ${song.getTrackId()}" method="GET">
                            <input type="submit" value="Edit song">
                        </form>
                        <form th:action="'/songs/delete/' + ${song.getTrackId()}" method="GET">
                            <input type="submit" value="Delete song">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
